@{
  Layout = "_Layout_accounce";
}
﻿



<div class="container">
  <h2>Profile</h2>
  <div class="row">
    <div class="col-md-4" >
      <div class="thumbnail">
        <a href="~/images/kotlin.png" target="_blank">
          <img src="~/images/kotlin.png"  alt="Lights" style="width:100%" class="img-circle" alt="Cinque Terre" width="236" height="304">
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        
          <div class="caption">
            <p>About</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
            <p>Update profile</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
