@{
  Layout = "_Layout_accounce";
}
﻿

@model cSarpProject.Models.Employee

<h2>Add Student</h2>
<form asp-controller="Admin" asp-action="SaveTeacher" class="panel panel-body" method="post">
    <div class="form-group">
        <div class="col-sm-6">

            <label>ID</label>
            <input name="Id" type="text" class="form-control">
            <label>First name</label>
            <input name="Id" type="text" class="form-control">
                        <label>Last name</label>
            <input name="Id" type="text" class="form-control">
                        <label>Permanent Address</label>
            <input name="Id" type="text" class="form-control">
                        <label>Contact Address</label>
            <input name="Id" type="text" class="form-control">
            			
            <label>Contact Mail</label>
            <input name="Name" type="text" class="form-control">
			
            <label>Contact no</label>
            <input type="text" name="Program" class="form-control">
             <label>Phone</label>

            <br/>
            <div class="col-md-offset-2 col-md-10">
                <input asp-action="AddEmployee" type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
       
    </div>
   
   
   
</form>

