@{
  Layout = "_Layout_accounce";
}
﻿


<div class="container">
<!--  <h2>Creat New ID</h2>-->
  <form class="form-horizontal" action="/action_page.php">

    <div class="form-group">
      <label class="control-label col-sm-2" for="email">ID:</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="email" placeholder="Enter ID" name="email">
      </div>
    </div>


    <div class="form-group">
      <label class="control-label col-sm-2" for="email">First Name:</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="email" placeholder="Enter First Name" name="email">
      </div>
    </div>


    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Last Name:</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="email" placeholder="Enter Last Name" name="email">
      </div>
    </div>


    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Permanent Address:</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="email" placeholder="Enter Permanent Address" name="email">
      </div>
    </div>



    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Contact Address:</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="email" placeholder="Enter Contact Address" name="email">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Contact Mail:</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="email" placeholder="Enter Contact Mail" name="email">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Contact no:</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="email" placeholder="Enter Contact no" name="email">
      </div>
    </div>


    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Phone:</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="email" placeholder="Enter Phone No" name="email">
      </div>
    </div>










    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Present Address:</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="email" placeholder="Enter Present Address" name="email">
      </div>
    </div>




    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Phone:</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="email" placeholder="Enter Phone" name="email">
      </div>
    </div>

    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
  </form>
</div>

