@{
  Layout = "_Layout_accounce";
}
﻿


<div class="container">
        
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Total</th>
        <th>Spent</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Casual Leav</td>
        <td>25</td>
        <td>10</td>
      </tr>
      <tr>
        <td>Study Leave</td>
        <td>5y</td>
        <td>1y</td>
      </tr>
      <tr>
        <td>Medical</td>
        <td>2m</td>
        <td>27d</td>
      </tr>
    </tbody>
  </table>
</div>
