@{
  Layout = "_Layout_accounce";
}
﻿

<label for="month">Month: </label>
<input type="text" id="month" name="month" class="monthPicker" />







<div class="container">
<!--  <h2>Creat New ID</h2>-->
  <form class="form-horizontal" action="/action_page.php">



    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Basic:</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="email" placeholder="Basic" name="email">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="email">House Rent:</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="email" placeholder="House Rent" name="email">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Medical:</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="email" placeholder="Medical" name="email">
      </div>
    </div>


    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Education Fee:</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="email" placeholder="Education Fee" name="email">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Bonus:</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="email" placeholder="Bonus" name="email">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Account status:</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="email" placeholder="Account status" name="email">
      </div>
    </div>


  </form>
</div>





