
<!--
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
-->
<!--
@model cSarpProject.Models.InstitutionDetails


    <table> 
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Name)
        </td>
        <td>
            @Html.DisplayFor(model => model.Id)
        </td>
        
    </tr>
    <table> 

    -->
